.vote {
    user-select: none;
    margin-right: 7px;
    display: inline-block;
    cursor: pointer;
    .icon {
        font-size: 0.75rem;
    }
    &.voted {
        color: var(--ht-color-accent);
    }
}
.vote-number {
    margin-left: 2px;
}