@use '../../mixins';

.reactions-wrap {
    padding: 20px 0;
    text-align: center;
}

.reactions-title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size:1.1rem;
}

.reactions {
    display: inline-flex;
    justify-content: center;
    flex-wrap:wrap;
}

.reaction {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 15px;
    cursor: pointer;
    transition:.2s transform;
    min-width: 70px;
    font-weight: bold;
    margin-bottom: 10px; // when wrapping

    &.reacted {
        @include mixins.background-color-accent;
    }

    &:hover {
        transform: scale(1.1);
    }
    /*&:not(:last-child) {
        margin-right: 5px;
    }*/

    img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    .reaction-top {
        display: inline-flex;
        align-items: center;
    }

    .reaction-number {
        font-size: 0.9rem;
    }

    .reaction-text {
        margin-top: 12px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: $mobile) {
    .reaction {
        img {
            width: 25px;
            height: 25px;
        }
    }
}