
.global-button {

    font-weight: 600;

    &.normal {
        padding: 9px 23px;
        font-size: 0.8rem;
    }

    &.small {
        padding: 4px 12px;
        font-size: 0.7rem;
    }

    &.medium {
        padding: 7px 16px;
        font-size: .7rem;
    }

}

.button-accent {
    @include background-color-accent;
    border-radius: var(--ht-box-radius);
}

