.main-box-header-wrap {

    margin-bottom: 20px;

    .main-box-header {
        display: flex;
        align-items: center;
    }

    .main-box-header-left {
        flex: 1;
    }

    .main-box-header-right {

    }

}

.comments-count {
    font-size: 1.125rem;
}