.main-box-header-wrap {

    @include background-color-box-secondary;

    border-top-left-radius: var(--ht-box-radius);
    border-top-right-radius: var(--ht-box-radius);

    .main-box-header {
        display: flex;
        align-items: center;
        padding:20px 30px;
    }

    .main-box-header-left {

    }

    .main-box-header-right {

    }

}