
@mixin box {
    border-radius: var(--ht-box-radius);
    box-shadow: var(--ht-box-shadow);
    border: var(--ht-box-border);
}

@mixin background-color-box {
    background-color: var(--ht-color-box);
    color: var(--ht-color-box-text);
}

@mixin background-color-box-secondary {
    background-color: var(--ht-color-box-secondary);
    color: var(----ht-color-box-secondary-text);
}

@mixin background-color-accent {
    background-color: var(--ht-color-accent);
    color: var(--ht-color-accent-text);
}