$mobile: 640px;

@import "./Components/Loader/Loader";
@import './Components/Reactions/Reactions';

@import 'Components/MainBox/MainBox';
@import 'Components/MainBox/MainBoxHeader';
@import 'Components/Comments/Comments';
@import 'Components/Comments/Comment/Comment';
@import 'Components/Comments/Comment/Collapser';
@import 'Components/Comments/Sorter';

@import 'Components/CommentsCount/CommentsCount';
@import 'Components/Icon/Icon';
@import 'Components/User/ProfilePicture';

* {
    box-sizing: border-box;
}

#app {
    padding: 20px;
}