$mobile: 640px;

@import "./Components/Loader/Loader";
@import './Components/Reactions/Reactions';

@import './Components/Comments/Comments';
@import './Components/Comments/CommentsHeader';
@import './Components/Comments/CommentsCount';
@import './Components/Comments/CommentsBody';

* {
    box-sizing: border-box;
}

#app {
    padding: 20px;
}