$mobile: 640px;

@import "./Components/Loader/Loader";
@import './Components/Reactions/Reactions';

@import 'Components/MainBox/MainBox';
@import 'Components/MainBox/MainBoxHeader';
@import 'Components/Comments/Comments';
@import 'Components/Comments/Comment/Comment';
@import 'Components/Comments/Comment/Collapser';
@import 'Components/Comments/Comment/Votes';
@import 'Components/Comments/LoadMore';
@import 'Components/Comments/Sorter';

@import 'Components/CommentsCount/CommentsCount';
@import 'Components/Icon/Icon';
@import 'Components/Button/Button';
@import 'Components/User/User';

@import 'Components/Editor/Editor';
@import 'Components/Editor/Panels/Gif';

body {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    appearance: none;
    cursor: pointer;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

#app {
    padding: 25px;
}